---
layout: default
title: Home
order: 1
---
<h1 id="academic-year">2018 - 2019 Academic Year</h1>
<p>The workshop will meet on <strong>Fridays 3:30-5:00pm in Room 707 <a href="http://www.dkv.columbia.edu/columbia_edu/site/about_columbia/map/international_affairs.html">International Affairs Building</a></strong>, except where otherwise noted below.</p>
<table>
  <thead>
    <tr class="header">
      <th align="left">Date <br> (Schedule Change)</th>
      <th align="left">Topic</th>
      <th align="left">Presenter</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">28 Sep 2018 <br> <strong> (3:30pm, IAB 1201) </strong> </td>
      <td align="left"><strong><a href="https://cupsmethods.github.io/Formal-models-and-lab-experiments/">Formal Models and Lab Experiments</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/giovanna-maria-invernizzi">Giovanna Invernizzi</a></td>
    </tr>
    <tr class="even">
      <td align="left">05 Oct 2018</td>
      <td align="left"><strong><a href="https://cupsmethods.github.io/from-r-to-python/">Intro to Python</a></strong></td>
      <td align="left"><a href="http://cs.stanford.edu/people/jjacobs3/">Jeff Jacobs</a></td>
    </tr>
    <tr class="odd">
      <td align="left">19 Oct 2018</td>
      <td align="left"><strong><a href="https://cupsmethods.github.io/web-scraping/">Web Scraping in R</a></strong></td>
      <td align="left"><a href="http://polisci.columbia.edu/people/profile/1338">Erin York</a></td>
    </tr>
    <tr class="odd">
      <td align="left">2 Nov 2018 </td>
      <td align="left"><strong><a >Working with Interview Data</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/colleen-wood">Colleen Wood</a></td>
    </tr>
    <tr class="even">
      <td align="left">9 Nov 2018</td>
      <td align="left"><strong><a href="https://cupsmethods.github.io/R-for-GIS/">Introduction to GIS in R - Volume 1</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/merlin-noel-heidemanns">Merlin Noël Heidemanns</a></td>
    </tr>
    <tr class="odd">
      <td align="left">30 Nov 2018 <br> <strong> (3:30pm, IAB 1201) <strong></td>
      <td align="left"><strong><a>RDDs: Theory and Practice</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/pablo-argote">Pablo Argonte</a></td>
    </tr>
    <tr class="even">
      <td align="left">DATE TBD</td>
      <td align="left"><strong><a>SurveyCTO</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/dylan-william-groves">Dylan Groves</a></td>
    </tr>
  </tbody>
</table>

<hr>

<h1><u>Workshop Materials</u></h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% if site.show-tags %}
    <div class="post-tags">
        {% for tag in post.tags %}
            <rt class="boxed">{{ tag }}</rt>
        {% endfor %}
    </div>
    {% endif %}

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
