---
layout: default
title: Home
order: 1
---
<h1 id="academic-year">2017 - 2018 Academic Year</h1>
<p>The workshop will meet on <strong>Fridays 2:30-4:30pm in Room 707 <a href="http://www.dkv.columbia.edu/columbia_edu/site/about_columbia/map/international_affairs.html">International Affairs Building</a></strong>, except where otherwise noted below.</p>
<table>
  <thead>
    <tr class="header">
      <th align="left">Date <br> (Schedule Change)</th>
      <th align="left">Topic</th>
      <th align="left">Presenter</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">22 Sep 2017</td>
      <td align="left"><strong><a href="https://cupsmethods.github.io/from-r-to-python/">How I Learned to Let Go and Love Python:An Introduction</a></strong></td>
      <td align="left"><a href="http://polisci.columbia.edu/people/profile/1631">Joe Sutherland</a></td>
    </tr>
    <tr class="even">
      <td align="left">06 Oct 2017</td>
      <td align="left"><strong><a href="https://cupsmethods.github.io/social-network-analysis/">Social Network Analysis</a></strong></td>
      <td align="left"><a href="http://cs.stanford.edu/people/jjacobs3/">Jeff Jacobs</a></td>
    </tr>
    <tr class="odd">
      <td align="left">20 Oct 2017</td>
      <td align="left"><strong><a href="TBD">Experimental Surveys</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/maria-snegovaya">Maria Snegovayas</a></td>
    </tr>
    <tr class="even">
      <td align="left">3 Nov 2017</td>
      <td align="left"><strong><a href="TBD">GitHub/Collaborative Workflow</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/jasper-jack-cooper">Jasper Cooper</a></td>
    </tr>
    <tr class="odd">
      <td align="left">10 Nov 2017 <br> <strong>(<a href="http://www.dkv.columbia.edu/columbia_edu/site/about_columbia/map/international_affairs.html">Harriman</a> 1201)</strong></td>
      <td align="left"><strong><a href="TBD">Endogenous Units</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/tara-lyn-slough">Tara Slough</a></td>
    </tr>
    <tr class="even">
      <td align="left">17 Nov 2017</td>
      <td align="left"><strong><a href="TBD">Formal Models</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/giovanna-maria-invernizzi">Giovanna Invernizzi</a></td>
    </tr>
    <tr class="odd">
      <td align="left">01 Dec 2017</td>
      <td align="left"><strong><a href="TBD">Covariate Balancing</a></strong></td>
      <td align="left"><a href="https://polisci.columbia.edu/content/tom-leavitt">Tom Leavitt</a></td>
    </tr>
  </tbody>
</table>

<hr>

<h1><u>Workshop Materials</u></h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% if site.show-tags %}
    <div class="post-tags">
        {% for tag in post.tags %}
            <rt class="boxed">{{ tag }}</rt>
        {% endfor %}
    </div>
    {% endif %}

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
